snippet if "If" b
if $1
    $0
end
endsnippet

snippet ife "If Else" b
if $1 then
    $2
else
    $0
end
endsnippet

snippet ifef "If Else If" b
if $1 then
    $2
else if $3 then
    $4
else
    $0
end
endsnippet
