[Desktop Entry]
Type=Application
Exec=/home/wpop/.local/bin/alacritty %U
Icon=/home/wpop/.local/share/icons/wezterm-icon.png
Terminal=false
Categories=System;TerminalEmulator;

Name=Alacritty
GenericName=Terminal
Comment=A fast, cross-platform, OpenGL terminal emulator
StartupNotify=true
StartupWMClass=Alacritty
Actions=New;

[Desktop Action New]
Name=New Terminal
Exec=/home/wpop/.local/bin/alacritty
